.row {
  margin-top: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.keyGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.copyField {
  margin-top: 15px;
  display: flex;
  font-size: 20px;
  width:100%;
}

.copyField input {
  flex-grow: 1;
  background-color: #f5f5f5;
  height: 20px;
  padding: 6px 48px 6px 12px;
  font-size: 15px;
  line-height: 1.6;
  color: #111111;
  border: 1px solid #767676;
  border-radius: 3px;
  -webkit-transition: border-color ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s;
}

.copyField a {
  color: #767676;
  display: inline-flex;
  align-items: center;
}
